body {
    background-color: rgb(25, 25, 25);
    font-family: Arial, Helvetica, sans-serif;
}

.title-text {
    color: white;
    font-weight: bold;
    font-size: 33px;
}

.move-button {
    background-color: rgb(25, 25, 25);
    border: 3px white solid;
    padding: 35px;
    border-radius: 260px;
    margin-right: 12px;
    cursor: pointer;
}

.move-icon {
    height: 55px;
    object-fit: cover;
}

.game-result {
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
}

.game-moves {
    color: white;
    font-size: 15px;
    margin-top: 30px;
}

.score-text {
    margin-top: 60px;
    color: white;
    font-size: larger;
}

.reset-btn {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 8px 15px;
    cursor: pointer;
    border: none;
}