body {
    background-color: rgb(25, 25, 25);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.title-text {
    color: white;
    font-weight: bold;
    font-size: 33px;
}

/* Container fix */
.move-button {
    background-color: rgb(25, 25, 25);
    border: 3px white solid;
    padding: 35px;
    border-radius: 50%;
    margin: 12px;
    cursor: pointer;
}

.move-icon {
    height: 55px;
    object-fit: cover;
}

.game-result {
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-top: 40px;
}

.game-moves {
    color: white;
    font-size: 15px;
    margin-top: 20px;
}

.score-text {
    margin-top: 40px;
    color: white;
    font-size: larger;
}

.reset-btn {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 10px 18px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
}

@media (max-width: 480px) {

    .title-text {
        font-size: 26px;
    }

    .move-button {
        padding: 22px;
        margin: 8px;
        border-width: 2px;
    }

    .move-icon {
        height: 40px;
    }

    .game-result {
        font-size: 20px;
    }

    .score-text {
        font-size: 16px;
    }
}